@* Partial View for Jqgrid for all goods*@

@model IEnumerable<Webwarehouse.UI.Models.Entities.Good>

@*Jqgrid placeholder  *@
<div id="jqgrid-td">
    <table id="GridTable"></table>
    <div id="pager"></div>
</div>


