@model IEnumerable<WebWarehouse.UI.Models.Operation>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OperationsList</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            <p>@item.OperationTime</p>
            <p>@item.Quantity</p>
            <p>@item.OperType</p>
        }
    </div>
</body>
</html>
