@model Webwarehouse.UI.Models.GoodStatisticViewModel
<div id="goodDetInfo">
    <p>Name: @Model.GoodName</p>
    <p>Price:@Model.Price</p>
    <p>Total value:@Model.TotalPrice</p>
    <p>Total quantity:@Model.TotalQuantity</p>
</div>
@if (@Model.GoodId != -1)
{
    <div class="table">
        <div class="tr">
            <div class="td">
                @using (Ajax.BeginForm("OperationSelector", new AjaxOptions { UpdateTargetId = "foo", OnSuccess = "onSuccess" }))
                {
                @Html.Hidden("idVal", Model.GoodId);
                <input type="submit" name="Command" value="Статистика операций" />
                }
            </div>
            <div class="td">
                @using (Ajax.BeginForm("Add", "Operations", new AjaxOptions { UpdateTargetId = "addOper", HttpMethod = "Get" }))
                {
                @Html.Hidden("idVal", Model.GoodId);
                <input type="submit" name="Command" value="Добавить операцию" />
                }
            </div>
        </div>
    </div>
    
    
}

