@model String

@{
    Layout = "~/Views/Shared/_LayoutStatistic.cshtml";
}

<div class="static-window">
    <div class="header-create">@Model</div>
    <table id="GridTable"></table>
    <div id="pager"></div>
    
</div>
<div>
    Return to @Html.ActionLink("main page", "Index", "Home") 
</div>


