@model IEnumerable<Webwarehouse.Model.Entities.Operation>

@{
    Layout = "~/Views/Shared/_LayoutStatistic.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OperationsList</title>

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    

</head>
<body>
    <div>
        <table id="GridTable"></table>
        <div id="pager"></div>
    </div>
    <div>
        @Html.ActionLink("На главную", "Index", "Home") страницу
</div>
</body>
</html>
