@model WebWarehouse.UI.Models.GoodStatisticViewModel
<div id="goodDetInfo">
    <p>Название товара: @Model.GoodName</p>
    <p>Цена товара:@Model.Price</p>
    <p>Общая цена товара:@Model.TotalPrice</p>
    <p>Общая количество товара:@Model.TotalQuantity</p>
    
</div>
