@model IEnumerable<WebWarehouse.UI.Models.Good>

<div>  
     <table>
    </table>
</div>
@*<table>

</table>

@foreach (var item in Model)
{
    <p>@Html.ActionLink(item.GoodName, "Add", "Operations", new {item.GoodId }, null)</p>
    <p>@item.Price</p>
    <br/>
}*@   